.radio-button-module {
  margin: 15px 0;
}

.label-radio {
  display: block;
  font-size: 16px;
}

.right-align {
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

input[type="number"] {
  background-color: #fafafa !important;
}

.age-field {
  margin-bottom: 14px;
}

.age-field::ng-deep .mat-form-field-underline {
  width: 50px;
}

.select-ie {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 40px;
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid black;
}

.dates-not-found {
  color: #bbb;
}