.severity-high {
  background-color: #f3e0e2;
  padding: 10px;
}

.severity-medium {
  background-color: #f3eee0;
}

.severity-low {
  background-color: #d1ebcc;
}

.severity-none {
  background-color: #d1ebcc;
}

.severity-content {
  padding: 10px;
  box-sizing: border-box;
}

.big-text {
  font-size: 20px;
}
