footer {
  background-color: #1d1b1b;
  color: white;
  padding: 24px;

  .footer-menu {
    padding: 0;
    list-style-type: none;
  }

  .menu-item {
    list-style-type: none;

    a {
      color: white;
      text-decoration: none;
    }

    @media (min-width: 768px) {
      float: left;
      margin-right: 15px;
    }
  }

  @media (min-width: 768px) {
    .menu-item.separator {
      &:before {
        content: '|';
        margin-right: 15px;
      }
    }
  }

  .clear {
    clear: both;
  }
}
