header {
  min-height: 82px;
  background-color: #FFED00;

  mat-toolbar {
    background-color: #FFED00;
    align-items: flex-start;
    height: 72px;

    .logo {
      cursor: pointer;
    }

    h1.header-title {
      font-size: 13px;
    }
  }
}

.error {
  background-color: #dc0018;
  color: white;
  padding: 24px;

  a {
    color: white;
  }
}
