<header>
  <mat-toolbar>
    <img class="logo" src="assets/images/logo-large.svg" alt="BAG" (click)="redirectBagWebsite()">
  </mat-toolbar>

  <form [formGroup]="languageForm">
    <mat-form-field class="language-selector">
      <mat-label>{{ 'language.label' | translate }}</mat-label>
      <mat-select (selectionChange)="updateLanguage()" formControlName="language">
        <mat-option value="de">{{ 'language.german' | translate }}</mat-option>
        <mat-option value="fr">{{ 'language.french' | translate }}</mat-option>
        <mat-option value="it">{{ 'language.italian' | translate }}</mat-option>
        <mat-option value="en">{{ 'language.english' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</header>
