<div class="recommendation-container">
  <div [ngClass]="getSeverityClass(recommendation.severity)">
    <div class="severity-content">
      <p [innerHTML]="recommendation.title"
         class="recommendation-title">
      </p>
    </div>
  </div>

  <main>
    <p [innerHTML]="recommendation.description">
    </p>

    <p *ngIf="recommendationCode">
      <br><br>
      <strong>
        {{ 'recommendation.title' | translate }}
        <span class="big-text">{{ recommendationCode }}</span>
      </strong><br>
      {{ 'recommendation.description' | translate }}
    </p>

    <div class="button-area">
      <button mat-flat-button
              color="basic"
              class="back-bag larger-button"
              (click)="redirectBagWebsite()">
        {{ 'screening.bag' | translate }}
      </button>
      <button mat-flat-button
              color="primary"
              class="larger-button"
              routerLink="/screening">
        {{ 'screening.restart' | translate }}
      </button>
    </div>
  </main>
</div>
